<!-- <mat-form-field appearance="fill">
    <mat-label>Enter your nickname</mat-label>
    <input matInput required>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input type="password" matInput required>
</mat-form-field> -->

<p>{{data}}</p>